#Data 
*.nc
*.grib
*.grib.*
*.zarr/
*.zarr
*.csv
*.png
*.html
*.pt
*.pyc

#Checkpoints
*.ckpt

#Folders
.vscode/
.venv/
training/Runs
training/outputs
training/GraphTransformer/Noloss
training/GraphTransformer/fullloss
training/GraphTransformer/outputs
training/Transformer/outputs 
training/TransformerBOZ/outputs
training/GraphTransformerBOZ/outputs
training/RegularWeather
logs/
data/BOZ_Turbines/coordinates
data/oldfiles 
data/BOZ_Turbines/windpowerdata
data/Cerra_boz_Anemoids.zarr
data/Cerra_boz_Anemoids.zarr.storage_for_statistics.tmp
data/Cerra_boz_Anemoids.zarr.sync
data/cerra_boz
data/NorthSea/Power/Belgium
data/NorthSea/Power/UK
graphs/tryout_viz
inference/*



#Env 
.env
WindPower/

#Jupyter
.ipynb_checkpoints/
inference/*.ipynb
.venv
.vsocde

#Python cache

#Others
data/BOZ_Turbines/token.txt
data/NorthSea/Power/token.txt
*.sw?
