#Data 
*.nc
*.grib
*.grib.*
*.zarr/
*.zarr
*.csv

#Checkpoints
*.ckpt

#Folders
training/Runs
training/outputs
logs/
data/BOZ_Turbines/coordinates
data/oldfiles 
data/BOZ_Turbines/windpowerdata
data/Cerra_boz_Anemoids.zarr
data/Cerra_boz_Anemoids.zarr.storage_for_statistics.tmp
data/Cerra_boz_Anemoids.zarr.sync
#Env 
.env
WindPower/

#Jupyter
.ipynb_checkpoints/
inference/*.ipynb


#Python cache

#Others
data/BOZ_Turbines/token.txt
*.sw?
