??? from here until ???END lines may have been inserted/deleted
#Data 
*.nc
*.grib
*.grib.*
*.zarr/

#Checkpoints
*.ckpt

#Folders
training/Runs
training/outputs
logs/

#Env 
.env
WindPower/

#Jupyter
.ipynb_checkpoints/

#Python cache

